extends layout/layout
block content
    h1 更新作品
    form(method='post', action='/upsert')
        div
            span 用户id
            input(type='text',name='user_id')
        div
            span 作品名字
            input(type='text',name='name')
        div
            span 作品id
            input(type='text',name='work_id')
        div
            span 作品JSON串
            input(type='text',name='work_data')
        div
            input(type='submit',value="更新作品")

