<div class="controller-setting-container" id="{{id}}">
	<div class="controller-setting form-inline">
        <div>
            <label class="controller-setting-label">名称：</label>
            <input class="controller-setting-name-input form-control need-empty-validate" placeholder="元件名称">

            <label class="controller-setting-label">宽：</label>
            <input class="controller-setting-width-input form-control need-num-validate need-empty-validate" value="100" placeholder="元件宽度">
            
            <label class="controller-setting-label">高：</label>
            <input class="controller-setting-height-input form-control need-num-validate need-empty-validate" value="120" placeholder="元件高度">
        </div>
	</div>
</div>

