{{#each controllerList}}
<a class="list-group-item" data-id="{{id}}" data-name="{{name}}">
{{name}}
<button class="controller-delete-btn">
    <span class="glyphicon glyphicon-remove-sign"></span>
</button>
</a>
{{/each}}