

<div class="controller-list-container" id="{{id}}">
	<div class="panel panel-default">
		<h4 class="panel-heading">元件列表</h4>
		<div class="panel-body">
			<div class="controller-list-wrap list-group">
                <div class="controller-list"></div>
                <div class="controller-list-loading">加载中...</div>
            </div>

		</div>
	</div>
    <div class="controller-list-preview"></div>

</div>

