
<a id="{{id}}" class="sprite_item list-group-item" data-stageid="{{stageId}}">
    <span class="sprite-name">{{name}}</span>
    <input type="checkbox" class="lock-frames-bar-checkbox glyphicon glyphicon-lock">
    <input type="checkbox" class="hide-frames-bar-checkbox glyphicon glyphicon-eye-open">
    <button class="sprite-list-delete-btn btn btn-sm">
        <span class="glyphicon glyphicon-remove-sign"></span>
    </button>
</a>
