<div id="{{id}}" data-emit-type="{{emitType}}" data-emit-event-name="{{emitEventName}}" class="frames-bar-single-wrap">

	<div class="frames-bar-info">
		<div class="frames-bar-name">{{spriteName}}</div>
		<div class="frames-bar-setting-container">
			<!--<input type="checkbox" class="lock-frames-bar-checkbox glyphicon glyphicon-lock">
			<input type="checkbox" class="hide-frames-bar-checkbox glyphicon glyphicon-eye-open">-->
			<button class="delete-frames-bar-button glyphicon glyphicon-remove-sign"></button> 
		</div>
	</div>
	<ol  class="frames-bar clearfix">
	</ol>
</div>

