
<div class="user-images form-inline">

    <div class="user-images-all-list  accordin-container pane panel-primary">
        <div class="user-images-available-size">0MB</div>

        <h4 class="panel-heading current-temp-heading">当前列表</h4>
        <div class="user-images-work-temp-list pannel-body list-group" data-name="tempwork">
        </div>
        <div class="user-images-ctrl-temp-list pannel-body list-group" data-name="tempctrl">
        </div>


        <h4 class="panel-heading">作品列表</h4>
        <div class="user-images-work-list pannel-body list-group" data-name="work">
        </div>


        <h4 class="panel-heading">元件列表</h4>
        <div class="user-images-controller-list pannel-body list-group" data-name="ctrl">
        </div>


    </div>

    <div class="user-images-content">
        
    </div>

</div>

