<div class="img-path-setting-mask" id="{{id}}">

	<div class="img-path-setting">
        <div>
            <input class="img-path-setting-input"></input>
        </div>

	    <!-- 按钮区域 -->
		<div class="img-path-btn-container">
			<button class="confirm-img-path-btn">确定</button>
			<button class="cancel-img-path-btn">取消</button>
		</div>
	</div>

</div>