
<div class="background-setting form-inline">
    <table>
        <tr>
            <td>
                <label>背景色：</label>
            </td>
            <td>
                <input class="background-color-setting-input form-control" value="rgb(255,255,255)">
            </td>
        </tr>
        <tr>
            <td>
                <label>背景图片：</label>
            </td>
            <td>
                <label class="background-image-setting-filename">暂无文件</label>
                <button class="background-image-setting-file-btn btn btn-primary btn-xs">
                    图片选择
                    <input class="background-image-setting-file-input" type="file">
                </button>
            </td>
        </tr>
    </table>

</div>

