<div class="dfeditor-mask" id="{{id}}">
	<div class="dfeditor">
		<select id="animation-list">
		{{#each dfAnimation}}	
			<option value="{{@key}}">{{name}}</option>
		{{/each}}
		</select>
		<button class="df-confirm">确认</buttpo>
		<button class="df-cancel">取消</button>
	</div>
</div>