
<li>
	<div id="{{id}}" class="page" data-index="{{index}}">
		<a class="page-del-btn close">x</a>
	
		<span class="page-index">
			0
		</span>
		<div class="page-jump-btn-container">
			<input class="prejump-checkbox glyphicon glyphicon-hand-up" type="checkbox">  
			<input class="replay-checkbox glyphicon glyphicon-repeat" type="checkbox">
			<input class="auto-jump-checkbox glyphicon glyphicon-circle-arrow-down" type="checkbox">

		</div>
	</div>
</li>

