/* 元件列表弹窗 */
.controller-list-container{

	width:400px;
}
.controller-list-container .panel{
	width: 150px;
}
.controller-list-container .panel .panel-body{
	padding: 0;
}
.controller-list-container .panel .panel-heading{
	font-size: 14px;
}

.controller-list-wrap{
	width: 150px;
	height: 200px;
	overflow: auto;
}
.controller-list a{
	box-sizing:border-box;
}
.controller-list-preview{
	position: absolute;
	width:200px;
	height: 200px;
	top: 20px;
	right: 15px;
	background: rgb(49,70,91);
}
.ms-stage .controller{
	border: 1px solid #000;
}
.controller-sprite{
	position: absolute;
	background-color: orange;
	background-size:100% 100%;
}

/* 运动状态下元件缩放取消 ,不然controller会放大导致不对 */
.playing_animation .controller{
	-webkit-transform:none !important;
}
.controller{
	overflow: hidden;
}
.controller-list-preview .controller{
	background: #415162;
	color:#000;
	z-index: 1;
}

.controller-delete-btn{
	display: none;
	background: transparent;
	border: none;
	position: absolute;
	top: 10px;
	right: 10px;
}
.controller-list-loading{
	text-align: center;
	font-size: 12px;
	opacity: 0.5;
	padding-top: 10px;
}