
<div class="emit-type-setting" id="{{id}}">
    <table>
        <tr>
            <td>
        	   <label>事件名：</label>
            </td>
            <td>
        	   <input class="emit-event-input form-control need-empty-validate" placeholder="动画事件名">
            </td>
        </tr>
        <tr>
            <td>
                <label>只触发一次：</label>
            </td>
            <td>
                <input class="sprite-action-once-input" type="checkbox">
            </td>
        </tr>
    </table>
</div>
