
<div class="sprite-action-setting">
    <div class="form-inline">
        <div>
            <table>
                <tr>
                    <td>
                        <label>触发自定义事件：</label>
                    </td>
                    <td>
                        <input class="action-event-checkbox" type="checkbox">
                  
                        <input class="sprite-action-event-input form-control" placeholder="事件名">
                    
                    </td>
                </tr>

                <tr class="auto-jump-next-setting">
                    <td>
                        <label>跳到下一页：</label>
                    </td>
                    <td>
                        <input class="action-jump-next-checkbox" type="checkbox">
                    </td>
                </tr>
            </table>
        </div>
    </div>

</div>

