

<div class="work-list-container">
    <button class="pre-work-list glyphicon glyphicon glyphicon-chevron-left disabled"></button>

	<div class="work-list list-group">

	</div>

    <button class="next-work-list glyphicon glyphicon-chevron-right disabled"></button>


</div>

