{{#each workList}}
	<a class="list-group-item" id="{{id}}" data-name="{{name}}">
		<button class="work-delete-btn glyphicon glyphicon-remove"></button>
		<div class="list-work-name">{{name}}</div>
		<div class="glyphicon glyphicon-link"></div>
	</a>
{{/each}}